@model IEnumerable<Soccer.Models.MatchResultModel>
@{
    ViewData["Title"] = "Soccer";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center table-primary">
                <th>Game Time (UTC 8)</th>
                <th>Leagues</th>
                <th>Events</th>
                <th>Home Score</th>
                <th>Away Score</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.GameTime</td>
                    <td>@item.Leagues</td>
                    <td>@item.HomeTeam vs @item.AwayTeam</td>
                    @if (item.Condition == 0)
                    {
                        <td colspan="3" style="color: red">Cancelled</td>
                        
                    }
                    else if (item.Condition == Soccer.Utils.ConditionInfo.Normal)
                    {
                        <td>@item.HomeScore</td>
                        <td>@item.AwayScore</td>
                        <td>
                            <button id="@item.Id" class="btn btn-outline-primary" onclick="getDetailById(this)" type="button" data-toggle="modal" data-target="#detailModal" data-whatever="hello">Show Details</button>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Detail Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                        <thead class="text-center">
                            <tr>
                                <th scope="col" id="detail_title" colspan="3"></th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <td id="team_H"></td>
                                <td class="font-weight-bold">Teams</td>
                                <td id="team_A"></td>
                            </tr>
                            <tr>
                                <td id="firstHalf_H"></td>
                                <td class="font-weight-bold">1st half</td>
                                <td id="firstHalf_A"></td>
                            </tr>
                            <tr>
                                <td id="secondHalf_H"></td>
                                <td class="font-weight-bold">2nd half</td>
                                <td id="secondHalf_A"></td>
                            </tr>
                            <tr>
                                <td id="regularTime_H"></td>
                                <td class="font-weight-bold">Regular time</td>
                                <td id="regularTime_A"></td>
                            </tr>
                            <tr>
                                <td id="corners_H"></td>
                                <td class="font-weight-bold">Corners</td>
                                <td id="corners_A"></td>
                            </tr>
                            <tr>
                                <td id="penalties_H"></td>
                                <td class="font-weight-bold">Penalties</td>
                                <td id="penalties_A"></td>
                            </tr>
                            <tr>
                                <td id="yellowCards_H"></td>
                                <td class="font-weight-bold">Yellow cards</td>
                                <td id="yellowCards_A"></td>
                            </tr>
                            <tr>
                                <td id="redCards_H"></td>
                                <td class="font-weight-bold">Red cards</td>
                                <td id="redCards_A"></td>
                            </tr>
                            <tr>
                                <td id="firstET_H"></td>
                                <td class="font-weight-bold">1st ET</td>
                                <td id="firstET_A"></td>
                            </tr>
                            <tr>
                                <td id="secondET_H"></td>
                                <td class="font-weight-bold">2nd ET</td>
                                <td id="secondET_A"></td>
                            </tr>
                            <tr>
                                <td id="penaltiesShootout_H"></td>
                                <td class="font-weight-bold">Penalties shootout</td>
                                <td id="penaltiesShootout_A"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
